<html>
  <head>
    <meta charset="utf-8">
    <title>Display Webcam Stream</title>
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <!-- Load Posenet -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    <style>
    #container {
    	margin: 0px auto;
    	width: 500px;
    	height: 375px;
    	border: 10px #333 solid;
    }
    #videoElement {
    	width: 500px;
    	height: 375px;
    	background-color: #666;
    }
    </style>
 </head>

  <body>
    <div id="container">
	     <video autoplay="true" id="videoElement"></video>
     </div>
     <canvas id='thecanvas' width='400' height="400" ></canvas>
     <div id="output">
       <!-- <img alt="Thumbnail to process" id="thumb" hidden> -->
       <p id="stats"> </p>
     </div>

  </body>

  <!-- the webcam control scrip -->
  <script>
  var video = document.querySelector("#videoElement");

  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
      .then(function (stream) {
        video.srcObject = stream;
      })
      .catch(function (err0r) {
        console.log("Something went wrong!");
      });
  }
  </script>
  <script src = "{{url_for('static', filename='JS/webCamParse.js')}}"></script>
</html>
