<html>
  <head>
    <meta charset="utf-8">
    <title>Display Webcam Stream</title>
    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <!-- Load Posenet -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
    #container {
    	margin: 0px auto;
    	width: 500px;
    	height: 375px;
    	border: 10px #333 solid;
    }
    #videoElement {
    	width: 500px;
    	height: 375px;
    	background-color: #666;
    }
    </style>
 </head>

  <body>
    <!-- <div id="container">
	     <video autoplay="true" id="videoElement"></video>
     </div>
     <canvas id='thecanvas' width='400' height="400" ></canvas>
     <div id="output">
       <img alt="Thumbnail to process" id="thumb" hidden>
         </div> -->
     <video id="video" autoplay muted="true" position="relative" width="320" height="240" ></video>

     <p>

       Theres some text in here

     </p>
     <canvas id="canvas" ></canvas>


       <div class="slidecontainer">
        <input type="range" min="0" max="3" value=".6" class="slider" id="MOVEMENT_THRESHOLD" step=.2>
      </div>
      <button id="startButton" type="button"> Start  </button>
      <button id="stopButton" type="button"> Stop </button>

     <p id='stats'></p>

     <div>
       <p> Audio Controls </p>
       <button type="button" onclick="mediaRecorder.start(1000)">Start</button>
       <button id = "stop" type="button" onclick="mediaRecorder.stop()">Stop</button>
       <button id = "upload" type = "button"> Upload</button>
     </div>
  </body>

  <script src = "{{url_for('static', filename='JS/globals.js')}}"></script>
  <script src = "{{url_for('static', filename='JS/index.js')}}"></script>
  <script src = "{{url_for('static', filename='JS/detect_movement.js')}}"></script>
  <script src = "{{url_for('static', filename='JS/audio.js')}}"></script>
</html>
